In [5]:
a = 1

In [2]:
print(a)

1

In [3]:
a = 2

In [6]:
print(a)

1

In [9]:
b = 'love'

In [10]:
print(b)

love

In [11]:
love = 2

In [14]:
b = 'hatred'

In [15]:
print(b)

hatred

In [18]:
a = 1
b = 2
c = 3
c

3

In [19]:
c

3

In [20]:
a = 1; b = 2; c = 3

In [21]:
print(a); print(b); print(c)

1
2
3

In [22]:
a = [1, 2, 3, 5]

In [23]:
type(a)

list

In [24]:
a = 1

In [25]:
type(a)

int

In [26]:
a = 1.2

In [27]:
type(a)

float

In [28]:
a = 'love'

In [29]:
type(a)

str

In [30]:
a = [1, 2, 3, 5, 'love']

In [31]:
type(a)

list

In [32]:
a = [1, 'love', [1, 'bye']]

In [33]:
type(a)

list

In [36]:
a = (1, 'love', [1, 'bye'])

In [37]:
type(a)

tuple

In [2]:
a = {"a": "apple", "b": "banana", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

In [39]:
type(a)

dict

In [3]:
a=1
b=1
c=a+b

In [4]:
c

2

In [5]:
a = (1, 2)
b = (3, 4)
c = a[0] + b[0]

In [6]:
c

4

In [9]:
c = a[1] + b[1]

In [10]:
c

6

In [12]:
a = 1; a=float(a); print(type(a))

<class 'float'>

In [17]:
a=1.2; a=int(a); print(type(a))

<class 'int'>

In [18]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

In [19]:
a = 123; print(type(a)); print(a[1])

<class 'int'>

TypeError: 'int' object is not subscriptable

In [20]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

In [24]:
a = [1, '2', [3, '4']]; print(type(a)); print(a[0]); print(a[1])
print(a[2])

<class 'list'>
1
2
[3, '4']

In [25]:
a = (1, '2', [3, '4']); print(type(a)); print(a[0]); print(a[1])
print(a[2])

<class 'tuple'>
1
2
[3, '4']

In [26]:
a = {1: "apple", "b": "banana", "c": 2014}
print(type(a))
print(a[1])

<class 'dict'>
apple

In [32]:
a = [(1,2,3), (3,8,0)]
print(type(a))
print(a[0])
print(a[1])
type(a[0])

<class 'list'>
(1, 2, 3)
(3, 8, 0)

tuple

In [36]:
s='abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

a f f a
bc bcdef abc abcdef

In [37]:
n=[100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [38]:
len(s)

6

In [39]:
len(n)

3

In [42]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

In [43]:
s.upper()

'ABCDEF'

In [53]:
s = ' this is a house built this year.wn'
s

' this is a house built this year.wn'

In [54]:
result = s.find('house')
result

11

In [55]:
result = s.find('this')
result

1

In [56]:
result = s.rindex('this')
result

23

In [58]:
s = s.strip()
s

'this is a house built this year.wn'

In [59]:
tokens = s.split(' ')
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.wn']

In [65]:
s = ' '.join(tokens)
s

'this is a house built this year.wn'

In [63]:
s = ','.join(tokens)
s

'this,is,a,house,built,this,year.wn'

In [66]:
s = s.replace('this', 'that')
s

'that is a house built that year.wn'